@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.985 0.000 0);
  --foreground: oklch(0.182 0.000 0);
  --card: oklch(0.985 0.000 0);
  --card-foreground: oklch(0.182 0.000 0);
  --popover: oklch(0.985 0.000 0);
  --popover-foreground: oklch(0.182 0.000 0);
  --primary: oklch(0.751 0.111 133.6502547444898);
  --primary-foreground: oklch(0.964 0.004 132.38693278024846);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.858 0.067 133.55263551958407);
  --muted-foreground: oklch(0.622 0.108 134.46521225514024);
  --accent: oklch(0.475 0.104 261.8156123531565);
  --accent-foreground: oklch(0.964 0.004 132.38693278024846);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.877 0.058 133.4609443164103);
  --input: oklch(0.877 0.058 133.4609443164103);
  --ring: oklch(0.751 0.111 133.6502547444898);
  --chart-1: oklch(0.751 0.111 133.6502547444898);
  --chart-2: oklch(0.825 0.195 135.02282861106667);
  --chart-3: oklch(0.849 0.133 133.76494535960853);
  --chart-4: oklch(0.573 0.170 137.1879793081884);
  --chart-5: oklch(0.430 0.125 136.78395056089386);
  --sidebar: oklch(0.858 0.067 133.55263551958407);
  --sidebar-foreground: oklch(0.234 0.031 134.03547209438815);
  --sidebar-primary: oklch(0.751 0.111 133.6502547444898);
  --sidebar-primary-foreground: oklch(0.964 0.004 132.38693278024846);
  --sidebar-accent: oklch(0.475 0.104 261.8156123531565);
  --sidebar-accent-foreground: oklch(0.200 0.036 262.06294610697046);
  --sidebar-border: oklch(0.877 0.058 133.4609443164103);
  --sidebar-ring: oklch(0.751 0.111 133.6502547444898);
}

.dark {
  --background: oklch(0.208 0.026 133.3953271596536);
  --foreground: oklch(0.985 0.000 0);
  --card: oklch(0.260 0.036 133.5638744747803);
  --card-foreground: oklch(0.985 0.000 0);
  --popover: oklch(0.260 0.036 133.5638744747803);
  --popover-foreground: oklch(0.985 0.000 0);
  --primary: oklch(0.802 0.173 134.5984107933046);
  --primary-foreground: oklch(0.964 0.004 132.38693278024846);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.304 0.054 134.52982236042396);
  --muted-foreground: oklch(0.747 0.042 133.38370877034592);
  --accent: oklch(0.501 0.137 261.53716108313495);
  --accent-foreground: oklch(0.955 0.012 263.0281614536984);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.432 0.091 134.99432527839326);
  --input: oklch(0.432 0.091 134.99432527839326);
  --ring: oklch(0.802 0.173 134.5984107933046);
  --chart-1: oklch(0.802 0.173 134.5984107933046);
  --chart-2: oklch(0.863 0.195 134.81006795818814);
  --chart-3: oklch(0.904 0.154 133.92532330339571);
  --chart-4: oklch(0.596 0.162 136.00468121659213);
  --chart-5: oklch(0.444 0.102 134.8985241731819);
  --sidebar: oklch(0.356 0.055 133.74558955990798);
  --sidebar-foreground: oklch(0.964 0.004 132.38693278024846);
  --sidebar-primary: oklch(0.802 0.173 134.5984107933046);
  --sidebar-primary-foreground: oklch(0.964 0.004 132.38693278024846);
  --sidebar-accent: oklch(0.501 0.137 261.53716108313495);
  --sidebar-accent-foreground: oklch(0.955 0.012 263.0281614536984);
  --sidebar-border: oklch(0.442 0.040 133.09381011834463);
  --sidebar-ring: oklch(0.802 0.173 134.5984107933046);
}

@layer base {
  * {
    @apply border-border outline-ring/50 tracking-wider;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}
